.navbar {
  height: $appbar-height;
  display: flex;
  align-items: center;
  border-bottom: $appbar-border-style;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $background;
  z-index: 1000;
  width: 100%;

  .container {
    width: 94%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    h1 {
      margin-left: 0.4rem;
      color: rgba($semi-white, 0.7);
      font-family: "Lato", sans-serif;
      font-weight: 900;

      small {
        color: rgba($semi-white, 0.6);
        font-size: 1rem;
      }
    }
  }
}
